<!doctype html>
<html lang="{{ session('local')}}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- Custom styles -->

    <link rel="stylesheet" type="text/css" href={{ get_base_path() }}/css/main-layout.css>

    <script type="text/javascript" src="{{ get_base_path() }}/js/slim-starter.js"></script>

    <title>{{ page_title }}</title>

    {% if recaptcha_api_script is defined %}
        {{ recaptcha_api_script|raw }}
    {% endif %}
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>